In [1]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [5]:
list_s = [1, 2, -3, 6.2, 'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [6]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [7]:
type(series1)

pandas.core.series.Series

In [8]:
series2 = pd.Series([1, 2, 3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\rcjub\AppData\Local\Temp\ipykernel_18368\3878301290.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

In [10]:
series3 = pd.Series([1, 2, 3,4],index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
series3 = pd.Series([1, 2, 3,4],index = ['a','b','c','d'],dtype = float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [12]:
series3 = pd.Series([1, 2, 3,4],index = ['a','b','c','d'],dtype = float, name = 'data values')
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [15]:
scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [16]:
scalar_s = pd.Series(0.5, index = [1,2,3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [17]:
dict_s = pd.Series({'a':1,'b':2})

In [18]:
print(dict_s)

a    1
b    2
dtype: int64

In [19]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
s4[0]

1

In [21]:
s4[4]

5

In [22]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [23]:
max(s4)

5

In [24]:
min(s4)

1

In [25]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [26]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
s4 + s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [29]:
s6 = pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [30]:
s5 + s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64